
.container{
    max-width: 100vw;
    width: 100vw;
}

#top-row{
	height: 70vh;
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)
and (orientation : portrait){ 
    #top-row{
	height: 7vh;
}
    
}

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 812px)
and (orientation : portrait){ 
    #top-row{
	height: 7vh;
}
    
} 

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px)
and (orientation : portrait){ 
    #top-row{
		height: 7vh;
	}
}