

.jumbotron {
/*  background-image: url(../images/background_home.png);*/
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

.jumbotron .container {
  position: relative;
  top: 0%;
  left: 0%;
      
}

h1  {
  color: #fff;
  font-size: 48px;  
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  margin-bottom: 20px;
}

.jumbotron h1 {
  color: #fff;
  font-size: 48px;  
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  margin-bottom: 20px;
}

 p {
  font-size: 20px;
  color: #fff;
}

 ul {
  font-size: 20px;
  color: #2b3e51;
  font-family: 'Nunito', sans-serif;
}

h2{
    font-family: 'Nunito', sans-serif;
}

h3{
    font-size: 22px;
    font-weight: 600;
    color: #2b3e51;
    font-family: 'Nunito', sans-serif;
}

a{
    color: #2b3e51;
    text-decoration: underline;
}

/*
.learn-more h3 {
  font-family: 'Shift', sans-serif;
  font-size: 18px;
  font-weight: bold;
}
*/

/*
.learn-more a {
  color: #00b0ff;
}
*/

.navbar-burger{
    height: 4.25rem;
}

.navbar-item img{
    max-height: 2.75rem;
}

.navbar-brand{
    height: 70px;
    left: 100px;
}

.navbar-item{
    margin-right: 10px;
    margin-left: 10px;
    color:white;
}

a.navbar-link{
    color:white;
}

a.navbar-item:hover{
    color: #5a5377;
}

.navbar-link:hover{
    color: #5a5377;

}

.navbar-dropdown{
    background-color: #363636;
    border-top: none;
}

#navbarBasic{
    background-color: #363636;
}

/*IPAD MEDIA QUERY*/
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)
and (orientation : portrait){ 
    #cal{
            margin-top: 200px;
    }
    #swetube{
            margin-top: 250px;
    }
    
}

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 812px)
and (orientation : portrait){ 
    #cal{
        margin-top: 500px;
    }
    #swetube{
            margin-top: 550px;
    }
    
} 

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px)
and (orientation : portrait){ 
    #cal{
        margin-top: 500px;
    }
    #swetube{
            margin-top: 550px;
    }
}

