<footer class="footer-distributed">
			<div class="footer-right">

				<a href="https://www.facebook.com/swe.mit/"><i class="fa fa-facebook"></i></a>
				<a href="https://twitter.com/mitswe"><i class="fa fa-twitter"></i></a>
				<a href="https://www.instagram.com/mitswe/"><i class="fa fa-instagram"></i></a>
			</div>

			<div class="footer-left">

				<p class="footer-links">
					<a href="../home/index.html">Home</a>
					<a href="about.html">About</a>
					<a href="#">Outreach</a>
					<a href="#">Corporate</a>
					<a href="../calendar/calendar.html">Calendar</a>
					<a href="#">News</a>
					<a href="../contact/contact.html">Contact</a>
					<a href="#">Members Only</a>
				</p>

				<p>MIT Society of Women Engineers &copy; 2017</p>
			</div>

</footer>