<header class="siteHeader  strip">
	    <div class="wrapper">
	        <!-- Logo -->
	        <a href="../home/index.html" class="branding"><img src="../images/SWE_Logo_MIT-horz.png" alt="(MITSWE) SWE Logo"></a>

	         <!-- Primary site Nav -->
	        <a href="#siteNav" class="hamburger  js-menuLink">
			    <span class="hamburger-bun  hamburger-bun--top"></span>
			    <span class="hamburger-patty"></span>
			    <span class="hamburger-bun  hamburger-bun--btm"></span>
			</a>

		<nav id="siteNav" class="navbar  primaryNav" role="navigation" itemscope itemtype="http://schema.org/SiteNavigationElement">
		    <ul class="primaryNav-list">

		        <!-- START: Only visible on mobile -->
		       <!--  <li class="navItem  navItem--supportNumber">
		                            <a class="supportNumber" href="tel:+18775784000">877.578.4000</a>
		                    </li> -->
<!-- 		        <li class="navItem  navItem--login">
		            <a class="loginLink" href="https://ac.mediatemple.net/login.mt?redirect=home.mt"><span>Members Only</span></a>
		        </li> -->
		        <!-- END: Only visible on mobile -->


		       	<!-- Web Hosting -->
		        <!--  About -->
		        <li class="navItem  hasDropdown  js-hasDropdown">
		            <a class="js-dropdownTrigger" href="../about/about.html"><span>About</span></a>

		            <div class="navDropdown">
		                <ul class="nav  nav--stacked" style="clear:both">
		                    <li class="navItem"><a href="../about/about.html">About MIT SWE</a></li>
		                    <li class="navItem"><a href="../about/board.html">MIT SWE Leadership</a></li>
		                    <li class="navItem"><a href="../about/nationalswemembership.html">National SWE</a></li>
		                </ul>
		            </div>
		        </li>

		        <!-- Outreach -->
		        <li class="navItem  hasDropdown  js-hasDropdown ">
		            <a class="js-dropdownTrigger" href="../outreach/outreach_home.html"><span >Outreach</span></a>
		            <div class="navDropdown">
		                <ul class="nav  nav--stacked" style="clear:both">
		                    <li class="navItem"><a href="outreach_general_info.html">General Info</a></li>
		                    <li class="navItem"><a href="../outreach/elementary_school.html">Elementary School</a></li>
		                    <li class="navItem"><a href="../outreach/middle_school.html">Middle School</a></li>
		                    <li class="navItem"><a href="../outreach/high_school.html">High School</a></li>
		                </ul>
		            </div>
			        <div class="navDropdown  navDropdown--twoUp  navDropdown--pinnedLeft">
			        <div class="navDropdown-column">

	                    <ul class="nav  nav--stacked">
	                        <li class="navItem"><a href="#">Sign up to Volunteer!</a></li>                      	                        
	                    </ul>
                    
	                    <h5 class="navDropdown-heading  u-textAllcaps">Elementary School</h5>
	                    <ul class="nav  nav--stacked ">
	                        <li class="navItem"><a href="#">Brownie Girl Scouts</a></li>
	                        <li class="navItem"><a href="#">Junior Girl Scouts</a></li>
	                    </ul>
	                
	                    <h5 class="navDropdown-heading  u-textAllcaps">Middle School</h5>
	                    <ul class="nav  nav--stacked">
	                        <li class="navItem"><a href="#">Dorchester YMCA&nbsp;&nbsp;&nbsp;</a></li>

	                        <li class="navItem"><a href="#">KEYs &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     </a></li>
	                        <li class="navItem"><a href="#">#helloworld&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  </a></li>
	                        <li class="navItem"><a href="#">GIFTS &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </a></li>
	                    </ul>
	                </div>

	               	<div class="navDropdown-column">
	                    <h5 class="navDropdown-heading  u-textAllcaps">High School</h5>
	                    <ul class="nav  nav--stacked">

	                        <li class="navItem"><a href="#">College Connection&nbsp;&nbsp;&nbsp;</a></li>
	                        <li class="navItem"><a href="#">Level Up</a></li>
	                        <li class="navItem"><a href="#">Women in Science and Engineering (WiSE)</a></li>
	                        <li class="navItem"><a href="#">Exploring STEM Essay Contest</a></li>
	                        <li class="navItem"><a href="#">HS Project Grants</a></li>
	                        <li class="navItem"><a href="#">Engineering Chats</a></li>
	                        <li class="navItem"><a href="#">Careers in STEM</a></li>	                        	                        
	                    </ul>
	                    <h5 class="navDropdown-heading  u-textAllcaps">Special Events</h5>
	                    <ul class="nav  nav--stacked">
	                        <li class="navItem"><a href="#">Cambridge Science Festival</a></li>
	                        <li class="navItem"><a href="#">USASEF</a></li>                       	                        
	                    </ul>
	                </div>
	            </div>
		        </li>

		        <!-- Corporate -->
		        <li class="navItem hasDropdown  js-hasDropdown">
		            <a class="js-dropdownTrigger" href="../corporate/corporate.html"><span>Corporate</span></a>
		            <div class="navDropdown">
		                <ul class="nav  nav--stacked">
		                    <li class="navItem"><a href="../corporate/corporate.html">General Info</a></li>
		                    <li class="navItem"><a href="../corporate/banquet.html">Career Fair Banquet</a></li>
		                </ul>
		            </div>
		        </li>

		        <!-- Calendar -->
		        <li class="navItem ">
		            <a href="../calendar/calendar.html"><span>Calendar</span></a>
		        </li>

		        <!--  News -->
		        <li class="navItem ">
		            <a href="../news/news.html"><span>News</span></a>
		        </li>

		        <!-- Contact Us -->
		        <li class="navItem ">
		            <a href="../contact/contact.html"><span>Contact Us</span></a>
		        </li>		        

				<!-- Members Only -->
		        <li class="navItem  hasDropdown  js-hasDropdown">
		            <a class="js-dropdownTrigger" href="../members/members.html"><span>For Members</span></a>
		            <div class="navDropdown">
		                <ul class="nav  nav--stacked">
		                    <li class="navItem"><a href="../members/members/section_resources.html"><span>Section Resources</span></a></li>
		                    
		                    <li class="navItem"><a href="http://swe.mit.edu/wiki"><span>Wiki</span></a></li>
		                </ul>
		            </div>
		        </li>
		    </ul>
		</nav>

<!-- 
        <div id="siteNav" class="navbar  primaryNav rightNav">
		    <ul class="nav  headerNav  u-pullRight">
				
		           
	        </ul>
        </div>
	    </div> <!-- /.wrapper -->
	    <div class="navDropdown--background offPage"></div> 


</header> <!-- /.siteHeader --> 	