<header class="siteHeader  strip">
    <div class="wrapper">
        <!-- Logo -->
        <a href="home/" class="branding"><img src="images/SWE_Logo_MIT-horz.png" alt="(MITSWE) SWE Logo"></a>
        <link rel="icon" href="../images/favicon.jpg">

         <!-- Primary site Nav -->
        <a href="#siteNav" class="hamburger  js-menuLink">
		    <span class="hamburger-bun  hamburger-bun--top"></span>
		    <span class="hamburger-patty"></span>
		    <span class="hamburger-bun  hamburger-bun--btm"></span>
		</a>

	<nav id="siteNav" class="navbar  primaryNav" role="navigation" itemscope itemtype="http://schema.org/SiteNavigationElement">
	    <ul class="primaryNav-list">

	        <!-- START: Only visible on mobile -->
	       <!--  <li class="navItem  navItem--supportNumber">
	                            <a class="supportNumber" href="tel:+18775784000">877.578.4000</a>
	                    </li> -->
<!-- 		        <li class="navItem  navItem--login">
	            <a class="loginLink" href="https://ac.mediatemple.net/login.mt?redirect=home.mt"><span>Members Only</span></a>
	        </li> -->
	        <!-- END: Only visible on mobile -->


	       	<!-- Web Hosting -->
	        <!--  About -->
	        <li class="navItem  hasDropdown  js-hasDropdown">
	            <a class="js-dropdownTrigger" href="about/"><span>About</span></a>

	            <div class="navDropdown">
	                <ul class="nav  nav--stacked" style="clear:both">
	                    <li class="navItem"><a href="about/board">Board Members</a></li>
	                    <li class="navItem"><a href="about/national_swe_membership">National SWE</a></li>
	                </ul>
	            </div>
	        </li>

	        <!-- Outreach -->
	        <li class="navItem  hasDropdown  js-hasDropdown ">
	            <a class="js-dropdownTrigger" href="outreach/"><span >Outreach</span></a>

				 <div class="navDropdown">
	                <ul class="nav  nav--stacked">
	                    <li class="navItem"><a href="outreach/elementary_school">Elementary School</a></li> 
	                    <li class="navItem"><a href="outreach/middle_school">Middle School</a></li> 
	                    <li class="navItem"><a href="outreach/high_school">High School</a></li> 
	                    <li class="navItem"><a href="outreach/special_events">Special Events</a></li> 
	                    <li class="navItem"><a href="outreach/resources">Resources</a></li> 

	                </ul>
	            </div>
	        </li>

	        <!-- Corporate -->
	        <li class="navItem hasDropdown  js-hasDropdown">
	            <a class="js-dropdownTrigger" href="corporate/"><span>Corporate</span></a>
	            <div class="navDropdown">
	                <ul class="nav  nav--stacked">
	                    <!-- <li class="navItem"><a href="corporate/banquet">Career Fair Banquet</a></li> -->
	                    <li class="navItem"><a href="corporate/resume_database/index.php">Resume Database</a></li>
	                </ul>
	            </div>
	        </li>

	        <!-- Calendar -->
	        <li class="navItem ">
	            <a href="calendar/"><span>Calendar</span></a>
	        </li>

	        <!--  News -->
	        <li class="navItem ">
	            <a href="news/"><span>News</span></a>
	        </li>

	        <!-- Contact Us -->
	        <li class="navItem ">
	            <a href="contact/"><span>Contact Us</span></a>
	        </li>		        

			<!-- Members Only -->
	        <li class="navItem  hasDropdown  js-hasDropdown">
	            <a class="js-dropdownTrigger" href="members/"><span>For Members</span></a>
	            <div class="navDropdown">
	                <ul class="nav  nav--stacked">
	                    <li class="navItem"><a href="members/section_resources">Section Resources</a></li>
	                    <li class="navItem"><a href="members/resume_upload">Resume Upload</a></li>
	                    <li class="navItem"><a href="http://swe.mit.edu/wiki">Board Wiki</a></li>
	                </ul>
	            </div>
	        </li>
	    </ul>
	</nav>

<!-- 
    <div id="siteNav" class="navbar  primaryNav rightNav">
	    <ul class="nav  headerNav  u-pullRight">
			
	           
        </ul>
    </div>
    </div> <!-- /.wrapper -->
    <div class="navDropdown--background offPage"></div> 

</header> <!-- /.siteHeader --> 