<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
		<title>MIT SWE | Outreach Home</title>
        <link rel="icon" href="../images/favicon.jpg">
		<meta name="keywords" content="MIT SWE, MIT, Society of Women Engineers, MIT Society of Women Engineers" />
		<meta name="description" content="Massachusetts Institute of Technology Society of Women Engineers is te largest diversity student organization on campus and aims to inspire younger generations about engineering, encourage the notion of diversity in engineering, and determine and advocate for the needs of women engineers at MIT and in the professional world." />

		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
		<script src="//code.jquery.com/jquery-1.10.2.js"></script>
		<script src="../js/mt-global.js"></script>

		<!-- global styles -->
		<link rel="stylesheet" href="../css/bootstrap.css">
		<link rel="stylesheet" href="../css/footer-distributed.css">
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">

		<link rel="stylesheet" href="../css/mt-global.css">


<!-- 		page specific styles -->
		<link rel="stylesheet" href="css/styles_outreach.css">
	<script src="//code.jquery.com/jquery-1.10.2.js"></script>
</head>

<body>
<?php include 'header.php';?>

	<!-- <div id="header"></div><br />
	<div id="content">
	Main Content
	</div><br />
	<div id="footer"></div> -->
	<!-- <script  type="text/javascript">
	// $(document).ready(function(){
	// 	$("#header").load("header.html");
	// 	$("#footer").load("footer.html");
	// });
	// </script> -->
</body>
</html>