h1 {
   font-family: 'Open Sans';
   font-size: 24px;
   font-style: normal;
   font-variant: normal;
   font-weight: 500;
   line-height: 26.4px;
 }
 h3 {
   font-family: 'Open Sans';
   font-size: 18px;
   font-style: normal;
   font-variant: normal;
   font-weight: 500;
   line-height: 15.4px;
   color: #00b0ff;
 }

 h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
 }

 p {
   font-family: 'Open Sans';
   font-size: 16px;
   font-style: normal;
   font-variant: normal;
   font-weight: 400;
   line-height: 19.5px;
 }
 blockquote {
   font-family: 'Open Sans';
   font-size: 21px;
   font-style: normal;
   font-variant: normal;
   font-weight: 400;
   line-height: 30px;
 }
 pre {
   font-family: 'Open Sans';
   font-size: 13px;
   font-style: normal;
   font-variant: normal;
   font-weight: 400;
   line-height: 18.5714px;
 }

.jumbotron {
  background-image: url(../images/board_retreat_2019.jpg);
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron .container {
  position: relative;
  top:100px;
}

.jumbotron h1 {
  color: #fff;
  font-size: 48px;
  /*font-family: 'Shift', sans-serif;*/
  font-weight: bold;
  margin-bottom: 20px;
}

.jumbotron p {
  font-size: 20px;
  color: #fff;
  line-height: 120%;
}

.learn-more {
  background-color: #f7f7f7;
}

.learn-more h2.centered{
  font-family: 'Shift', sans-serif;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 25px;

}
.learn-more h3 {
  font-family: 'Shift', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.learn-more a {
  color: #00b0ff;
}

/* MEMBER IMAGES */
.member-container {
  position: relative;
  width: 200px;
  height: 270px;
  margin-left: 5px;
}

.member-image {
  display: block;
  width:200px;
  width:200px;
}

.member-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 200px;
  width: 200px;
  opacity: 0;
  transition: .5s ease;
  background-color: #000000;
}

.member-container:hover .member-overlay {
  opacity: 0.8;
}

.member-text {
  color: white;
  font-size: 12px;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
}

.member-text {
  color: white;
  font-size: 14px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.board-pos {
  color: grey;
  font-size: 14px;
}

.member-info {
  background-color: #f1edf2;
  padding: 5px;
  height: 60px;
  width: 200px;
  text-align: center;
}

.crop {
    width: 200px;
    height: 200px;
    overflow: hidden;
}

.crop img {
    width: 250px;
    height: 250px;
    margin: -20px 0 0 -30px;
}



/*
footer{
  position: fixed;
  bottom: 0;
}
*/
